<div class="card card-sm mb-3">
    <div class="card-header">
      Formulario de Producto
    </div>
    <div class="card-body">
      <form [formGroup]="productForm">
        
        <!-- Nombre del Producto -->
        <div class="form-group">
          <label>Nombre del Producto:</label>
          <input type="text" formControlName="name" class="form-control" />
          <!--Validaciones-->
          <ng-template [ngIf]="name?.getError('required') && (name?.dirty || name?.touched)">
            <div class="alert alert-danger">
              El campo nombre es requerido
            </div>
          </ng-template>
          <ng-template [ngIf]="name?.getError('minlength') && (name?.dirty || name?.touched)">
            <div class="alert alert-danger">
              El campo nombre debe tener al menos 3 caracteres
            </div>
          </ng-template>
          <ng-template [ngIf]="name?.valid && (name?.dirty || name?.touched)">
            <div class="alert alert-success">
              Nombre correcto
            </div>
          </ng-template>
        </div>
  
        <!-- Categoría -->
        <div class="form-group">
          <label>Categoría:</label>
          <select formControlName="category" class="form-control">
            <option *ngFor="let category of categories" [value]="category.categoryName">{{ category.categoryName }}</option>
          </select>
          <!--Validaciones-->
          <ng-template [ngIf]="category?.getError('required') && (category?.dirty || category?.touched)">
            <div class="alert alert-danger">
              Seleccione una categoría
            </div>
          </ng-template>
          <ng-template [ngIf]="category?.valid && (category?.dirty || category?.touched)">
            <div class="alert alert-success">
              Categoría seleccionada
            </div>
          </ng-template>
        </div>
  

        <!-- Descripción del Producto -->
        <div class="form-group" formGroupName="detail">
          <label>Descripción:</label>
          <textarea formControlName="description" class="form-control" rows="3"></textarea>
          <!-- Validaciones -->
          <ng-template [ngIf]="description?.getError('required') && (description?.dirty || description?.touched)">
            <div class="alert alert-danger">La descripción es requerida</div>
          </ng-template>
          <ng-template [ngIf]="description?.getError('minlength') && (description?.dirty || description?.touched)">
            <div class="alert alert-danger">La descripción debe tener al menos 10 caracteres</div>
          </ng-template>
          <ng-template [ngIf]="description?.valid && (description?.dirty || description?.touched)">
            <div class="alert alert-success">Descripción válida</div>
          </ng-template>
        </div>
  
        <!-- Especificaciones del Producto -->
        <div class="form-group" formGroupName="detail">
          <label>Especificaciones:</label>
          <textarea formControlName="specifications" class="form-control" rows="3"></textarea>
          <ng-template [ngIf]="specifications?.getError('required') && (specifications?.dirty || specifications?.touched)">
            <div class="alert alert-danger">Las Especificaciones son requeridas</div>
          </ng-template>
          <ng-template [ngIf]="specifications?.getError('minlength') && (specifications?.dirty || specifications?.touched)">
            <div class="alert alert-danger">Las especificaciones debe tener al menos 8 caracteres</div>
          </ng-template>
          <ng-template [ngIf]="specifications?.valid && (specifications?.dirty || specifications?.touched)">
            <div class="alert alert-success">
              Especificaciones válidas
            </div>
          </ng-template>
        </div>
  
        <!-- Criterios de Sostenibilidad -->
        <div class="form-group" formGroupName = "sustainabilityCriteria">
          <label>Huella de Carbono:</label>
          <input type="number" formControlName = "carbonFootprint" class="form-control" />
          <!--Validaciones-->
          <ng-template [ngIf]="carbonFootprint?.getError('required') && (carbonFootprint?.dirty || carbonFootprint?.touched)">
            <div class="alert alert-danger">
              La huella de carbono es requerida
            </div>
          </ng-template>
          <ng-template [ngIf]="carbonFootprint?.valid && (carbonFootprint?.dirty || carbonFootprint?.touched)">
            <div class="alert alert-success">
              Huella de carbono válida
            </div>
          </ng-template>
        </div>
  
        <div class="form-group">
          <label>Precio:</label>
          <input type="number" formControlName="price" class="form-control" />
          <!--Validaciones-->
          <ng-template [ngIf]="price?.getError('required') && (price?.dirty || price?.touched)">
            <div class="alert alert-danger">
              El precio es requerido
            </div>
          </ng-template>
          <ng-template [ngIf]="price?.getError('min') && (price?.dirty || price?.touched)">
            <div class="alert alert-danger">
              El precio debe ser mayor que cero
            </div>
          </ng-template>
          <ng-template [ngIf]="price?.valid && (price?.dirty || price?.touched)">
            <div class="alert alert-success">
              El precio es válido
            </div>
          </ng-template>
        </div>
  
        <!-- Estado del Producto -->
        <div class="form-group">
          <label>Estado:</label>
          <select formControlName="status" class="form-control">
            <option *ngFor="let status of productStatuses" [value]="status">{{ status }}</option>
          </select>
        </div>
  
        <!-- Botón de Enviar -->
        <button type="submit" (click)="saveProduct()" class="btn btn-info">Enviar</button>
  
      </form>
    </div>
  </div>
  